@import "theme.css";

:root{
    /* Fontes */
    --ff-titulo: "Playfair Display", serif;
    --ff-texto: "Lora", serif;
    --ff-destaque: "Special Elite", cursive;

    /* Tamanhos */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3rem;
    --fs-4xl: 5rem;

    /* Pesos */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
header h3{
    font-family: var(--ff-titulo);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

header a{
    font-family: var(--ff-destaque);
    font-size: var(--fs-sm);
}

h6::after,
h6::before{
    content: " ◆ ";
    color: var(--cafe-500);
}

h6{
    font-family: var(--ff-destaque);
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
}

.banner h1{
    font-family: var(--ff-titulo);
    font-size: var(--fs-4xl);
    font-weight: var(--fw-bold);
}

.banner h3{
    font-family: var(--ff-titulo);
    font-size: var(--fs-xl);
    font-style: italic;
    font-weight: var(--fw-regular);
}

.banner p:first-of-type{
    font-family: var(--ff-texto);
    font-size: var(--fs-md);
}

.banner button{
    font-family: var(--ff-destaque);
    font-size: var(--fs-md);
    font-weight: var(--fw-semibold);
}

.banner h5:last-of-type{
    font-family: var(--ff-destaque);
    font-size: var(--fs-xs);
}

.cardapio > h2,
.historia > h2,
.comentario > h2{
    font-family: var(--ff-titulo);
    font-size: var(--fs-3xl);
    font-weight: var(--fw-bold);
}

.cardapio article h4{
    font-family: var(--ff-titulo);
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
}

.marks{
    font-family: var(--ff-titulo);
    font-size: var(--fs-xl);
    font-style: italic;
    font-weight: var(--fw-regular);
}

.underline{
    font-family: var(--ff-destaque);
    font-size: var(--fs-sm);
}

.historia .card h5{
    font-family: var(--ff-titulo);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

.historia .card em{
    font-family: var(--ff-texto);
    font-size: var(--fs-md);
}

.date{
    font-family: var(--ff-destaque);
    font-size: var(--fs-sm);
}

.date:last-child{
    font-family: var(--ff-titulo);
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.comentario p{
    font-family: var(--ff-titulo);
    font-size: var(--fs-xl);
    font-style: italic;
}

.comentario .cliente{
    font-family: var(--ff-texto);
    font-size: var(--fs-md);
    font-style: italic;
}

footer p{
    font-family: var(--ff-texto);
    font-size: var(--fs-sm);
    font-style: italic;
}
