html{
    width: 100%;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}

header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 24px;
}
footer{
    display: flex;
    flex-wrap: wrap;
}

footer div{
    flex: 1;
    margin: 24px;
    text-align: center;
}
footer section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .dia{
    justify-content: space-around;
}
button{
    padding: 16px 24px;
    margin: 0 16px;
    width: 200px;
}
.rodape{
    padding: 0 24px
}
ornamento-svg{
    display: block;
}
.ornament{
    width:200px;
    margin:1rem auto;
}
coffee-svg{
    display: block;
}
.coffee{
    width: 120px;
}