html{
    width: 100%;
}
body{
    align-items: center;
}
*{
    box-sizing: border-box;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.historia, .comentario{
    margin: 0 10%;
}
.cardapio{
    text-align: center;
}
.cardapio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: none;
    gap: 24px;
}
.cardapio .title{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
.cardapio .card{
    width: 450px;
    border-radius: 3cap;
    padding: 1em;
}
.cardapio .card li{
    text-align: left;
    list-style:none;
    margin-bottom: 10px;
}
nav{
    display: flex;
    gap: 10px;
}
nav a{
    align-items: center;
    display: flex;
}
footer{
    display: flex;
    flex-wrap: wrap;
}

footer div{
    flex: 1;
    margin: 24px;
    text-align: center;
}

footer section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .dia{
    justify-content: space-around;
}
button{
    padding: 16px 24px;
    margin: 0 16px;
    width: 200px;
}
.rodape{
    padding: 0 24px
}
ornamento-svg{
    display: block;
}
.ornament{
    max-width: 200px;
    width: auto;
    margin:1rem auto;
}
coffee-svg{
    display: block;
}
.coffee{
    width: 120px;
}

.principal{
    background: fixed;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(".public/Gemini_Generated_Image_vlwjl4vlwjl4vlwj.png");
    background-size: cover;
}
.banner button{
    margin-bottom: 24px;
}