:root{
    --cor-fundo-rodape: #1a0d06;
    --cor-texto-principal: #2c1a0e;
    --cor-primaria: #5c3317;
    --cor-icone-cafe: #7a4520;
    --cor-texto-secundario: #7a5c40;
    --cor-destaque: #c8924a;
    --cor-texto-fundo-escuro: #e8d9c4;
    --cor-fundo-pagina: #f5ede0;
    --cor-fundo-card: #fdf6ec;
}
