:root{
    --cor-fundo-rodape: #1f120b;
    --cor-texto-principal: #2d1b12;

    --cor-primaria: #6f3f1d;
    --cor-icone-cafe: #8b5a2b;

    --cor-texto-secundario: #7b624d;
    --cor-destaque: #d4a05a;

    --cor-texto-fundo-escuro: #f3e6d3;

    --cor-fundo-pagina: #efe2d1;

    --cor-fundo-card: #fffaf3;
}
body{
    background-color: var(--cor-fundo-pagina);
}
header{
    background-color: var(--cor-fundo-rodape);
    color: var(--cor-fundo-pagina);
}
nav a{
    text-decoration: none;
    color: var(--cor-fundo-pagina);
    transition: 2s all ease;
}
nav a:hover{
    border-radius: 10cap;
    padding: .5em 1em;
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-principal);
}
h6{
    color: var(--cor-texto-secundario);
}
button{
    background-color: var(--cor-primaria);
    color: var(--cor-texto-fundo-escuro);
    border: none;
}
button:nth-last-of-type(1){
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto-principal);
    border: 2px solid var(--cor-texto-principal);
}
footer{
    background-color: var(--cor-texto-principal);
    color: var(--cor-texto-fundo-escuro);
}
footer h5, footer .dia p:nth-child(2){
    color: var(--cor-destaque);
}
.rodape{
    background-color: var(--cor-fundo-rodape);
}
.cardapio .card{
    background-color: var(--cor-fundo-card);
}